body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #dd8811;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

#cart {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fafafa;
}

#cart h2 {
    color: #f25f5c;
}

#cart-items {
    margin-bottom: 20px;
}

#cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#total-price {
    font-size: 1.2em;
}

button {
    background-color: #dd8811;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #d9534f;
}

footer {
    background-color: #dd8811;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}